<html lang="en">
<head>
    <title>Freemarker Example Page</title>
</head>
<body>

<h1>This is a Example Website</h1>
<div>
    <p>${text}</p>
    <p>${text2}</p>
</div>
<h2>There are all users:</h2>
<ul>
    <#list users as user>
        <li>The user ${user[0]} ${user[1]} is ${user[2]} years old</li>
    </#list>
</ul>
<h1>Data Model</h1>
<h2>Scalars</h2>
<p>Scalars are the leaves of the Data Model tree</p>
<ul>
    <#list scalars as scalar>
        <li>${scalar}</li>
    </#list>
</ul>
<h2>Containers</h2>
<p>Containers are hashes, which contains other variables</p>
<ul>
    <li>Hash: ${hash.example1}, ${hash.example2}, ${hash.example3}</li>
    <li>Sequence: ${sequence[0]}, ${sequence[1]}, ${sequence[2]}</li>
    <li>Collection: <#list collection as user>${user.firstname}<#sep>, </#sep></#list></li>
</ul>
<h2>Methods</h2>
<p>These Methods behaves similar to java methods</p>
<p>${compareAgeOfUsers(users[0][2], users[0][0], users[1][2], users[1][0])}</p>
<h2>Directives</h2>
<p>Directives are like custom FTL Tags</p>
<@replace oldChar='x' newChar='y'>
    This char -> x is not an $x, because it was replaced by a y. </br>
    The cool thing is this char here -> $x is not replaced,</br>
    because there is a '$$' argument in front of it, which refuses replacing.</br>
</@replace>
</body>
<h2>Object Wrappers</h2>
<p>
    The purpose of an Object Wrapper is to implement a mapping between Java objects and the FTL's system.</br>
    There is a wrapper for all standard types for Java, but it is also possible to create some own wrapper for custom types.
</p>
<p>User: ${users[0][0]} ${users[0][1]} is ${users[0][2]} years old</p>
</html>